<html>
<head>
    <title>millys skux blog</title>

</head>
<h1>skux blog</h1>
<body>
    <p>welcome to my blog</p>
    <p>!!!</p>
    <img src="http://www.angelina-jolie.com/gallery/albums/Movies/1995%20Hackers/Stills/Hackers-Stills_015.jpg"  style="width:600;">

<br>
    <a href=""><em>!!!</em></a>

    <title>Millys BLOG</title>
</head>
<body>
 <div>
     <h1><a href="/"></a></h1>
 </div>

 <div>

     <h2><a href="">how to be a hacker</a></h2>
  <ul><li>step one</li><li>step two</li></ul>
 </div>




</body>
</html>
